.footer-menu {
  padding: 21px 39px;
  background-color: $pale-reddish-purple;
}

.footer-menu-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.footer-menu-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 996px;  
  margin: 0 auto 0 25px;
  padding: 0;
  list-style: none;
}

.footer-menu-social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 123px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu-nav__link,
.footer-menu-social__item a {
  color: $basic-white;
}