// SIZES

$desktop: 1240px;
// $desktop-width-max: 1420px;
// $desktop-width-min: 1033px;
// $desktop-width: 1023px;
// $tablet-width: 769px;
// $mobile-width: 320px;

// Font-family

$font-roboto-condensed: "Montserrat", "Arial Black", sans-serif;

// COLORS
$basic-white: rgb(255, 255, 255);
$basic-background: rgb(229, 229, 229);
$pale-reddish-purple: #ae7c78;
$grayish-pink: #d89999;
$pale-reddish-purples : #ae7c7899;